{% extends "base.html.twig" %}

{% block title %}Hôtel{% endblock %}

{% block body %}
    <center>
        <h2><b>Bienvenue sur le site de l'hôtel !</b></h2>
        <img src="https://images5.alphacoders.com/429/thumb-1920-429128.jpg" class="img-fluid"
             style="height: 90%; width: 100%">
    </center>
{% endblock %}